:root{
    --color1: #5B0888;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family:'Courier New', Courier, monospace;

}

header{
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header > div{
    display: flex;
}

header > div > a {
    color : white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-right: 2px solid white;
    padding-right: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

header > div > section > a {
    color : white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

header > img{
    width: 70px;
}

header > div > section{
    display: flex;
    align-items: center;
}


/* -----main----- */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 20px;

}

main > div{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
}

.eslogan{
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: var(--color1);
    font-family:'Courier New', Courier, monospace;
    max-width: 700px;
    width: 100%;
}

main > div > form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

input{
    margin: 10px 0;
    padding: 15px 10px;
    font-size: 20px;
    border: 1px solid var(--color1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main > div > img{
    width: 500px;
    height: 500px;
}

.a{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}
.b{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}
.quien{
    width: 100%;
    margin: auto;
    display: flex;
    padding: 40px 20px;
    justify-content: space-around;
}

.ini{
    margin-top: 30px;
}

.img_colink{
    width: 7cm;
    height: 7cm;
}

.img_anonimous{
    width: 7cm;
    height: 7cm;
}

section > h2{
    font-size: 40px;
    font-weight: bold;
    color: var(--color1);
    font-family:'Courier New', Courier, monospace;
    max-width: 600px;
    width: 100%;
}

.quien > div > h2{
    font-size: 40px;
    font-weight: bold;
    color: var(--color1);
    font-family:'Courier New', Courier, monospace;
    max-width: 600px;
    width: 100%;
}


.a{
    padding: 30px 100px;
    background-color: #e5cff7;
}

button {
    width: 200px;
    background-color: #9d76c1;
    color: white;
    border: 1px solid var(--color1);
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.a > div {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

}

.a > p {
    margin: 15px 0;
    font-family:'Courier New', Courier, monospace;
    color: rgb(114, 40, 143);
}

.b{
    background-color: #9d76c1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.b > h2{
    color : white;
    font-family:'Courier New', Courier, monospace;

}

.google{
    border: 1px solid var(--color1);
    padding: 15px;
    margin-top: 20px;
    max-width: 800px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #f3f1f1;
    font-size: 20px;
}

footer{
    background-color: #5B0888;
    color: white;

    padding: 60px;
}

li{
    list-style: none;
    margin: 10px;
}

footer > ul{
    margin: 20px;

}

.quien > div > p {
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(114, 40, 143);
}

.quien > div > ul > li{
    border: 1px solid var(--color1);
    padding: 20px;
    max-width: 700px;
    width: 100%;
    background-color: #e5cff7;
    color: #5B0888;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover{
    background-color: #5B0888;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.bt:hover{
    background-color: #9d76c1;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: white;
}
.container-form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0,0,0,-1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin:10px;

}

.information{
    width: 40%;
    display: flex ;
    align-items: center;
    text-align: center;
    background-color: #c7eef3;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
}

.info-childs { 
    width: 100%;
    padding: 0 30px;
    

}
.info-childs h2{
    font-size: 2.5rem;
    color:#333;
}

.info-childs p {
    margin:15px 0;
    color:#555; 
}
.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #c7eef3;
    border-radius: 20px;
    padding: 10px 20px;
    color:#c7eef3;
    cursor: pointer;
    transition: background-color .3s ease;
}
.info-childs input:hover{
    background-color: #bfbec8;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, -1);
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    text-align: center;
    background-color: #DEDEDE;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 40px;

}

.form-information-childs{
    padding: 0 30px;
}
.form-information-childs h2{
    color: #333;
    font-size: 2rem;
}

.form-information-childs p{
    color: #3c3c3c
}

.icons {
    margin: 15px 0;
}

.icons i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin:0 10px;
    color:#713abe;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, -1);
    border: solid thin #713ABE;
}

.icons i:hover{
    background-color: #b175de;
    color: #ffffff;
}

.form{
    margin: 30px 0 0 0;


}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, -1);

}

.form label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color:#333;

}

.form label i{
    color: #a7a7a7;
}
.form input[type="submit"]{
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, -1);

}

.form input[type="submit"]:hover{
    background-color: #a7a7a7;
}
.icono{
    margin-right: 550px;
}
.inicio{
    margin :20px
}
.inicio:hover{
background-color: #b175de;
color: #ffffff;
}
.barras{
    width: 100%;
    border-radius: 20px;
}
.barra1{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.barra2{
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
}
